<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/index-DYNcF2Sv.css" />
  </head>
  <body>
    <header>
      <div id="user">
        <figure id="user_profile">
          <img
            src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_640.png"
            alt="profile"
          />
        </figure>
        <span id="user_name" data-username></span>
      </div>
      <div id="herader_action">
        <a href="#" onclick="logout()">LogOut?</a>
      </div>
    </header>

    <section id="hero">
      <div id="hero_content">
        <div id="animation_graphic">
          <img src="./assets/herographic2-DjTTRSUt.svg" alt="" />
        </div>
        <br />
        <h3>
          Your Personal Task Manager for Effortless Productivity!<span
            class="material-symbols-outlined"
          >
            flutter_dash
          </span>
        </h3>
        <a href="/todo"
          ><span class="material-symbols-outlined"> edit </span>Add Todo</a
        >
      </div>
      <div id="hero_img">
        <figure>
          <img src="./assets/herographic-BY0tEBIh.svg" />
        </figure>
      </div>
    </section>

    <script>
      const userNameHolder = document.querySelector("[data-username]");

      function getCookie(string) {
        string = typeof string === "string" ? string : false;
        if (string) {
          const silceIndex = string.indexOf("=");
          string = string.slice(silceIndex + 1);
          return string;
        } else {
          return "";
        }
      }

      const getUserInfo = async (url, authKey) => {
        const response = await fetch(`${url}info?authKey=${authKey}`);
        if (response.ok) {
          const userInfo = await response.json();
          return userInfo.payload;
        } else {
          return {};
        }
      };

      const setUserName = async () => {
        const authKey = getCookie(document.cookie);
        const userInfo = await getUserInfo(location.href, authKey);
        userNameHolder.innerHTML = `${userInfo.name}`;
      };
      setUserName();

      const deleteAuthKey = async (url, authKey) => {
        const auth = await fetch(url + `cookie-delete?authKey=${authKey}`, {
          method: "DELETE",
        });
        if (auth.ok) {
          return true;
        } else {
          return false;
        }
      };

      const logout = async () => {
        const authKey = getCookie(document.cookie);
        await deleteAuthKey(location.href, authKey);
        
      };
    </script>
  </body>
</html>
