<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/index-DYNcF2Sv.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Sign-Up | Required</title>
  </head>
  <body>
    <div id="container">
      <div id="form_area">
        <h3 id="label">Signin</h3>
        <form action="/signin" method="POST">
          <input type="email" name="email" placeholder="email" required />
          <input
            type="password"
            name="password"
            placeholder="password?"
            required
          />
          <div class="flex justify-end">
            <a href="signup" id="option">Signup account?</a><br />
          </div>
          <input type="submit" value="SignIn?" />
        </form>
      </div>
    </div>
  </body>
</html>
